.clear {
    zoom: 1;
}
.clear:after {
    content: '';
    display: block;
    clear: both;
}
.h-module-5-27
    .h-banner
        height 750px
        background url('') center center no-repeat
        &.h468
            height 468px
    .h-main-service
        padding-top 100px
    .h-main-title
        padding 60px 0
        font-size 48px
        color #000000
        font-style italic
        font-weight bold
        text-transform uppercase
        text-align center
        background url('../img/239d59c665b9f371e31d828b53dda325-229+14.png') center bottom 40px no-repeat
    .h-main-about-us
        max-width 1920px
        margin 0 auto
        width 100%
        height 765px
        position relative
        @media(max-width 750px)
            height auto 
        .h-container
            position relative
            z-index 1
            height 100%
            display flex
            align-items center
            justify-content center
            @media(max-width 750px)
                padding 50px 0
                display block
        .layout-pic
            position absolute
            left 0
            top 0
            bottom 0
            width 50%
            background url('../img/aacb22d3a2465e5cd2741b25234c2012-985+765.jpg') right center/auto 100% no-repeat            
            @media(max-width 750px)
                width 100%
                background-size cover
        .left-pic
        .right-content
            width 564px
            @media(max-width 750px)
                width 100%
        .left-pic
            text-align right
            @media(max-width 750px)
                text-align center
            img 
                max-width 334px
                width 100%
                vertical-align middle
        .right-content
            box-sizing border-box
            padding 30px
            height 350px
            @media(max-width 750px)
                padding 15px
                height auto 
                background  rgba(#fff,0.8)
            h3
                padding 20px 0 10px
                font-size 22px
                color #000000
            p
                font-size 14px
                color #888888
                line-height 30px
            a
                margin 20px 0 0 20px
                display block
                width 100px
                height 34px
                font-size 14px
                color #8de09d
                text-align center
                line-height 34px
                border 1px solid #8de09d
                transition 0.3s
                &:hover
                    background #8de09d
                    color #ffffff
    .h-main-our-news
        .wid
            display flex
            justify-content space-between
            @media(max-width 750px)
                flex-direction column
                max-width 500px
                margin 0 auto
        .item
            width 274px
            @media(max-width 750px)
                flex 1
                width 100%
                &+.item
                    margin-top 30px
            &:hover
                a
                    background #4cca9c
                .pic
                    .layout
                        opacity 1
            .pic
                position relative
                img
                    display block
                    width 100%
                .layout
                    position absolute
                    bottom 0
                    left 0
                    right 0
                    top 0
                    background rgba(#4cca9c,0.8)
                    display flex
                    align-items center
                    justify-content center
                    opacity 0
                    transition 0.3s
                    a
                        margin-top 0
                        background none
                        border 1px solid #fff
            .h-row
                position relative
            h3
                padding 25px 0 20px
                font-size 18px
                color #2b2b2b
                line-height 30px
            .date
                font-size 14px
                color #7f7f7f
                position absolute
                right 0
                bottom 20px
                line-height 30px
                padding-left 20px
                background  url('../img/6b9ef9ba7cea4eed21b3eb32ebb4c320-15+15.png') left center no-repeat
            p
                font-size 14px
                color #7f7f7f
                line-height 30px
            a
                margin-top 10px
                display block
                width 104px
                height 30px
                font-size 12px
                color #ffffff
                text-align center
                line-height 30px
                font-style italic
                background #8a8a8a
                transition 0.3s
                border-radius 5px
    .h-main-join-us
        padding-bottom 100px
        .wid
            display flex
            justify-content space-between
            @media(max-width 750px)
                flex-direction column
                align-items center
        .item
            text-align center
            display flex
            flex-direction column
            @media(max-width 750px)
                flex 1
                max-width 500px
                padding 0 15px
            &:hover
                .pic
                    .layout
                        transform scale(1)
            &:nth-child(even)
                .content
                    order -1
                    @media(max-width 750px)
                        order 0
                .pic
                    .layout
                        top 20px
                        bottom -20px
                        @media(max-width 750px)
                            top -20px
                            bottom 20px
            .pic
                position relative
                .layout
                    position absolute
                    top -20px
                    left -20px
                    right -20px
                    bottom 20px
                    border 1px solid #dadada
                    background url('../img/d565f9f6b7b78b17aa88be353437bfaf-54+54.png') center center no-repeat
                    transform scale(0)
                    transition 0.3s
                img
                    display block
                    width 100%
                    
            h3
                padding 10px 0 0
                font-size 18px
                color #4c4c4c
                line-height 2
            .en
                padding-bottom 10px
                font-size 14px
                color #888888
                line-height 2
            p
                position relative
                padding 20px 0
                font-size 12px
                color #888888
                &:after
                    content ''
                    position absolute
                    left 50%
                    top 0
                    width 30%
                    margin-left -15%
                    border-bottom 2px solid #888888
    .h-main-complany-profile
        padding-top 70px
        .pic
            @media(max-width 768px)
                float none
            img
                display block
                max-width 400px
                width 100%
                margin 0 auto
        .content
            max-width 740px
            width 100%
            font-size 14px
            color #5d5d5d
            line-height 32px
            text-indent 2em
        .h-row
            padding-top 50px
            margin-left -1%
            @media(max-width 768px)
                margin-left 0
            .item
                width 24%
                
                margin-left 1%
                @media(max-width 768px)
                    margin-left 0
                    width 100%
                img
                    display block
                    width 100%
                h3
                    font-size 16px
                    color #535353
                    line-height 50px
                    text-align center
    .h-main-coorporate-culture
        .wid
            position relative
        .content
            position absolute
            top 35px
            left 0
            max-width 969px
            width 100%
            padding 30px 30px 30px 45px
            color #5d5d5d
            background rgba(#f3f3f3,0.79)
            @media(max-width 768px)
                position static
                padding 15px
            h4
                font-size 18px
                line-height 28px
            p
                font-size 14px
                line-height 26px
            .ti2
                text-indent 2em
        .pic
            @media(max-width 768px)
                float none
            img
                max-width 550px
                display block
                width 100%
                margin 0 auto
    .h-main-brand-vision
        padding-top 50px
        .content
            padding 30px 0
            p
                font-size 14px
                color #5d5d5d
                line-height 2
                text-indent 2em
        .pic
            margin-left -1%
            
            @media(max-width 768px)
                margin-left 0
            .item
                float left
                width 24%
                margin-left 1%
                @media(max-width 768px)
                    margin-left 0
                    margin-bottom 15px
                    width 100%
                    // width 50%
                img
                    display block
                    width 100%
    .h-main-yongchun-team
        padding 100px 0 50px 
        h3
            margin-bottom 10px
        .pic
            @media(max-width 768px)
                float none
        img
            display block
            max-width 400px
            width 100%
            margin 0 auto

        .content
            max-width 780px
            width 100%
            p
                font-size 14px
                color #3d3d3d
                line-height 26px
                &+p
                    padding-bottom 20px
    .public-about-us-title
        position relative
        font-size 26px
        color #1a1a1a
        line-height 2
        padding-left 28px
        text-indent 0
        text-transform uppercase
        &:after
            content ''
            position absolute
            top 10px
            bottom 10px
            left 14px
            width 5px
            background #4cca9b
    .h-main-contact-us
        .contact-us
            padding 140px 0 90px
            font-size 64px
            color #000000
            text-align center
            text-transform uppercase
            font-weight bold
            background url('../img/d4419b7b9b6eba2be73c6e5394937056-445+6.png') center bottom 80px no-repeat
            @media(max-width 768px)
                font-size 30px
                background-size 60% auto
        .h-banner-c
            width 100%
            display block
            margin 0 auto
            max-width 1200px
            img
                display block
                width 100%
        .sub-title
            padding 60px 0 50px
            font-size 30px
            color #404040
            text-align center
            span
                font-size 18px
                color #404040
                text-align center
                display block
                text-indent -2em
                i
                    font-size 48px
                    line-height 0
        .h-row
            display flex
            align-items center
            justify-content space-between
            padding-bottom 70px
            @media(max-width 750px)
                flex-direction column
            .item
               max-width 368px
               width 100%
               height 344px
               text-align center
               background #f9e0e0
               &:nth-child(2) 
                   background #e1f7af
               &:nth-child(3) 
                   background #d5ecf9
                
                img
                    padding 50px 0 20px
                    display block
                    margin 0 auto
                h4
                    font-size 23px
                    color #3b3b3c
                    line-height 3
                p
                    font-size 20px
                    color #3b3b3c
                    line-height 2
                


        

        
    